
h2{
    font-family: fantasy;
}
.navbar-brand{
    font-family: cursive;
    font-weight: bold;
    font-size: xx-large;
}

.navbarlink:hover{
    font-weight: 700;
}

.carousel-item.active img{
    width: 75%;
    margin-left: 13%;
    margin-right: 40%;
} 

.card-home{
    border:none;
}

.nav-link{
    color: black;
}

.card-menu{

    border:none;
}

.card-img-top-home{
    width: 100%;
    height: 70%;
}

.card-img-top-menu{
    width: 15%;
    height: 15%;
}

.location-card{
    border-color: red;
    background-color: red;
}

.location-button{

    color:white;
}

.contact-header{
    background-color: red;
}

.order-button{
    margin-right: 10%;
    margin-left: 80%;
}